.redHeader {
  background-color: #ea1a1a;
  padding: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
